

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

html {
    width: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}



body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

}

section {
    width: 80%;
    margin: 1rem 0;

  

}

a {
    color: black;
    text-decoration: none;
}






 .decorSquare1 {
    width: 75vw;
    height: 1320vw;
    background-color: #e8ded5;
    position: absolute;
    z-index: -1;
    top: 0;

}

.decorSquare2 {
    width: 70vw;
    height: 100vw;
    background-color: #EBD1AF;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 70px;
} 
 



.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 99;
    background-color: #EBD1AF;
    padding-bottom: 1rem;
}

nav {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.75rem;
    padding-top: 0.5rem;
    position: relative;
    z-index: 99;
   
   


}



.link {
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 99;
   
}

.navLinks {
    font-size: 0.85rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 30px;
    position: relative;
    z-index: 99;

}

.navLink {
    list-style: none;
    color: black;
    margin: 0.5rem 0.75rem;
    position: relative;
    z-index: 99;
    
}





.navHome {
    display: flex;
    flex-direction: column;
    font-weight: bold;

}

.navHomeName {
    font-size: 1.25rem;
}

.homeTitle {
    font-size: .5rem;

}


.hero {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 95;
    
}

.heroName {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    z-index: 95;
    position: relative;
    bottom: 20px;
    margin-bottom: -20px;
    

}

.heroName span {
    font-size: 5rem;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color:transparent;


}

.abi {
    text-align: center;
    position: relative;
    right: 22px;
    
}

.gail {
    text-align: center;
    position: relative;
    bottom: 50px;
    margin-bottom: -50px;
    margin-top: 23px;
}

.heroImgWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 60px;
    margin-bottom: -50px;

}

.heroImg {
    width: 90%;


}

.heroDetails {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.socialList {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;   
    position: relative;
    z-index: 95;
    align-items: center;
 

}

.socialLink {
    width: 8vw;
    height: 8vw;
 


}

.heroTagline {
  width: 95%;
  margin-left: 2rem;






 

}

.heroTitle {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.35rem;




}

.heroDescription {
    font-size: 0.85rem;
    margin-right: 1rem;

}

.heroLearn {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    align-self: center;


}

.callToAction {
    font-size: 0.75rem;
    text-decoration: underline;
    margin-top: 1rem;



}



.heroArrow {
    width: 20px;
    height: 20px;
    margin-top: 0.5rem;
    animation: blinker 3s linear infinite;

}


h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.25rem;
    

}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.workSectionContainer {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.workHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
} 

.workHeaderTitle {

}
   

.workIll {
    width: 100%;
    position: relative;
    bottom: 10px;
    left: 40px;

   

   
  
  
}

.workList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}






.workEx {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 4rem 0;
    position: relative;
    z-index: 95;
   
 
    
  
}

.workEx:hover {
background-color: #EBD1AF;
border: none;
transform: scale(1.1)

}



.workImgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 90px;
    margin-bottom: -80px;
    

}

.workImg {
    width: 85%;

}

.workDetails {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.18rem;


 
}


.workTitle {
    font-size: 1.25rem;
    font-family: 'Roboto Slab', serif;
    text-align: center;

   
}

.workDescription {
    font-size: 0.75rem; 
    margin-top: 0.5rem;
    margin-right: 0.60rem;


}

.workTech {
    width: 100%;
    display: flex;
    justify-content: center;
  

}

.workTechList {
    width: 80%;
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    border-top: 1px ridge
 
  


}

.workTechItem {
    font-size: 0.75rem;
    font-weight: bold;
    margin: 0 0.45rem;
    

}



.aboutSection {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.aboutHeader {
    width: 100%;
    margin: 1rem 0;
  
}

.aboutHeaderTitle {
    margin-left: 0.95rem;
}

.imgWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(174, 174, 174);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    background-color: #f6f6f6;
    padding-top: 0.5rem;

}
.aboutImg {
    width: 90%;
    margin: 0.5rem;
}

.aboutIll {
    width: 65%;
    height: 65%;
    position: relative;
    left: 60px;
    bottom: 30px;
    margin-bottom: -60px;
    

  
    
}

.aboutDescWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.aboutInfo {
    width: 100%;
    margin-top: 1rem;
    

   
  
 

}
.p {
  font-size: 0.75rem;
  margin: 1rem;
  

   

}


.aboutDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
   
}





.aboutTitle {
    font-family: 'Roboto Slab', serif;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 1rem;
    position: relative;
    top: 40px;
   

}

.aboutList {
    border: 1px solid black;
    padding: 1rem 3rem;

}

.aboutListItem {
    margin: 1.5rem 0;
    font-size: 1rem;
  
  
}


.contactSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
  
}

.contactHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
 
}

.contactTitle {
    align-self: flex-start;
    margin-left: 0.95rem;
   
}

.contactTag {
    font-weight: normal;
    font-size: 0.75rem;
    margin-left: 1rem;
    margin-right: 1.25rem;
    margin-top: 0.25rem;

 
  
}

.contactIll {
    width: 85vw;
    height: 85vw;
}

.formTitle {
    font-size: 2rem;
    font-weight: thin;
}

.contactFormWrapper {
    width: 100%;
    
}

.formDecor {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contactForm {
    width: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    padding: 3rem 1rem 0.75rem 1rem;
    position: relative;
    bottom: 20px;
    margin-bottom: -20px;

   

}

.formLabel {
    font-size: 0.75rem;
    margin: 0.25rem 0;

}


.formInput {
    padding: 0.25rem;
    font-size: 0.75rem;
}

.prefWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.formBtn {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    margin: 1rem 3rem;
    border: 1px solid black;
}

.footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}  

.footerSocialList {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}



.copyright {
font-size: 0.75rem;
margin: 1rem;


}




#contactLabel {
    font-size: 0.55rem;
    
}


#notes {
    padding-bottom: 3rem;
}


.thankyou {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thankyouHeader {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 3rem;
}

.returnHome {
    font-size: 1rem;
    margin: 1rem;
    text-decoration: underline;

}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }


@media (min-width: 480px) {

    .decorSquare1 {
        height: 975vw;
    }

    .decorSquare2 {
        height: 80vw;
        left: 30px;
    }

    .heroImg {
        width: 65%;
       
    }

    .socialLink {
        width: 6vw;
        height: 6vw; 
    }


    .heroTagline {
        margin-top: 0.5rem;
      
    }
    .heroDescription {
       
    }

    .aboutDescWrapper {
        width: 80%;
    }

    .p {
        font-size: 1rem;
        margin: 0.15rem 1.5rem 0.85rem 3rem;

    }

    .contact {

    }

}



@media (min-width: 650px) {

    h2 {
        font-size: 1.5rem;
        padding-left: 1rem;
    }


    .decorSquare1 {

    height: 825vw;


    }

    section {
        margin: 4rem 1rem;
    }
    
    .navLinks {
        font-size: 1rem;
    }

    .navHomeName {
        font-size: 1.55rem;
        
    }

    .homeTitle {
        font-size: .65rem;
    
    }

    .heroImg {
        width: 55%;
    }

    .socialLink {
        width: 4vw;
        height: 4vw;
    }
    .heroTagline {
        margin-left: 5rem;
    }
    .heroDescription {
       font-size: 1rem;
       margin-right: 7rem;
    }

    .callToAction {
        font-size: 0.85rem;
        margin-top: 0;
    }

    .heroArrow {
        width: 25px;
        height: 25px;
        margin-top: 0.25rem;
    
    }

    .aboutHeaderTitle {
        margin-bottom: 1.5rem;
    }

    .p {
        margin-right: 2.5rem;
    }

    .contactTag {
        font-size: 1rem;
        padding-left: 1rem;
    }

  
    .contactFormWrapper {
        width: 80%;
    }

    .formLabel {
        font-size: 1rem;

    
    }
    
    
    .formInput {
  
        font-size: 0.75rem;
    }

    .formBtn {
        width: 60%;
        padding: 1rem 0;
        font-size: 1rem;
        align-self: center;
        
    }
}

@media (min-width: 769px) {

    .decorSquare1 {

        height: 490vw;
    }
    .decorSquare2 {
        width: 40vw;
        height: 60vw;
        left: 231px;
    }

    section {
        width: 100%;
        margin: 6rem 0;
       
    }

  

    h2 {
        font-size: 1.5rem;
    

    }

    .hero {
        background-color: transparent;
        flex-direction: row;
        justify-content: space-evenly;
        position: static;
        padding: 5rem 0;
      


    }

    .heroName {
        position: relative;
        top: 100px;
        left: 40px;
    }

    .heroName span {
        font-size: 6rem;
      
    
    }

    .abi {
        right: 27px;
        
    }


    .heroImgWrapper {
        width: 100%;
        position: static;
        margin-bottom: 0;
        display: block;
        margin: 0;
    
    }
    
    .heroImg {
        width: 100%;
        margin: 0;
    }

    .heroDetails {
        width: 100%;
        display: flex;
        flex-direction: column;
    
    
    }

    .socialList {
        width: 100%;
    

    }
    

    .socialLink {
        width: 3vw;
        height: 3vw;
 
 
    }

    .heroTagline {
        margin-left: 0.75rem;
       
    
    
    }

    .heroTitle {
        font-size: 1.75rem;
      
    }
    .heroDescription {
        width: 100%;
        font-size: 0.75rem;
    }

    .heroLearn {
     margin-top: 1rem;
     
    }

    .callToAction{ 
        text-align: left;
    }

    .heroArrow {
        display: none;
    }

   

    .workIll {
        width: 40%;
        align-self: flex-end;
        margin-right: 3rem;
     

    

    }

    .workList {
        width: 100%;
        background-color: #e8ded5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 0.5rem;
        margin: 0 0.5rem;
     
       

       
    }
  



    .workEx {
        border: 1px solid black;
      

    }
    

    .work1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .work2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .work3 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .workDetails {
        width: 100%;
        margin: 0 0;
        padding: 0.5rem;
       
    }

    .workImgWrapper {
        width: 80%;
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        justify-content: center;
        z-index: 99;
        
    }
    .workLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 99;
    }


    .workImg {
        width: 100%;
        position: relative;
        bottom: 50px;
        margin-bottom: -40px;
        z-index: 99;
    }

  

    .workTitle {
        font-size: 1.25rem;
        align-self: center;

    }

    .workDescription {
        font-size: 0.75rem; 
        margin-top: 0.25rem;
        margin-right: 0;
    
    }

  
    
    .aboutDescWrapper {
        flex-direction: row;
       
    }

    .aboutDetails {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(1fr 1fr); 
        column-gap: 40px;
        margin: 0 1rem;
        padding: 2rem;
    }


    .aboutTitle {
        position: relative;
        text-align: center;
        top: 45px;

    }

   


    #title1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    #title2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    #list1 {
        grid-column: 1/2;
        grid-row: 2/3;
     

    }
    #list2 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .contactSection {
        margin-top: 2rem;
    }

    .contactTag {
        font-size: 1.25rem;
        margin: 2rem 7rem 0 6rem;
    }
    .contactIll {
        width: 65vw;
        height: 65vw;
        
    }


    .contactFormWrapper {
       display: flex;
       flex-direction: row;
       justify-content: center;
     
    }


    .formDecor {
        width: 80%;
       
    }

    .formLabel {
        font-size: 1rem;
    }

    .formInput {
        font-size: 0.75rem;
    }

    .formBtn {
        font-size: 1rem;
        
    }


}

@media (min-width: 1024px) {

    .decorSquare1 {
        height: 435vw;
    
    }
    .decorSquare2 {
        width: 40vw;
        height: 60vw;
        left: 310px;
    }

    h2 {
        font-size: 2rem;
        padding-left: 4rem;
  
    }
    
    .navHomeName {
        font-size: 1.75rem;
    }

    .navLinks {
        font-size: 1.25rem;
    }
    
    .homeTitle {
        font-size: 1rem;
    }

    .heroTagline {
      
    
    }

    .heroTitle {
        font-size: 2.25rem;
    }

    .heroDescription {
        font-size: 1.25rem;
    }

    .callToAction {
        font-size: 1.25rem;
    }

   

    .workIll {

    }

    .workHeader {
        margin-bottom: 1rem;
    }

    .workList {
        margin-top: 1rem;
        padding: 1rem 1rem;
    }

    .workEx {
        border: 1px solid black;
    }

    .workTitle {
        font-size: 1.75rem;
    }


    .workDescription {
        font-size: 1rem;
        margin-top: 0;
        margin-right: 0;
   

    }



    .workTechItem {
        font-size: 1rem;
    
    }


    .aboutDescWrapper {
        margin-top: 4rem;
    }

    .imgWrapper {
        width: 80%;
        float: left;
        margin: 0 2rem;

    }

    .p {
        font-size: 1.25rem;
        margin: 1rem 2rem;

    }

    .aboutDetails {
        width: 90%;
        margin-top: 1rem;
        padding: 0.5rem 4rem;
    }

  
    .aboutTitle {
        top: 60px;
        margin-top: -1rem;
    }

    #list1 {
        padding-top: 2rem;
       margin: 1rem 4rem;
     

    }
    #list2 {
        padding-top: 2rem;
        margin: 1rem 4rem;
    }

    .contactTag {
        font-size: 1.25rem;
        margin: 2rem 11rem 0 8rem;


    }

    .formDecor {
        width: 80%;
       
    }

    .formLabel {
        font-size: 1.75rem;
    }

    .formInput {
        font-size: 1.5rem;
    }

    .formBtn {
        font-size: 1.5rem;
        
    }

}

@media (min-width: 1200px) {


    .decorSquare1 {
        height: 440vw;
    }

    .decorSquare2 {
        height: 80vw;
        left: 335px;
    }

   
    section {
        margin-top: 10rem;
    }

    .hero {
        margin-bottom: 25rem;
        padding-top: 10rem;

    }

   

    .heroImg {
        width: 100%;
    }

    .heroImgWrapper {
        width: 100%;
    }
    .imgWrapper {
        width: 80%;
    }

    .heroName {
        top: 300px;
        margin-left: -50px;
    }

    .heroName span {
        font-size: 8rem;
        margin-right: -30px;
    }
    .abi {
        right: 32px;
        
    }
    .gail {
        bottom: 80px;
    }

    .workHeader {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
    }

    .workHeaderTitle {
        width: 50%;
        align-self: flex-end;
        margin-bottom: 10rem;

    }

    .workIll {
        position: static;
        width: 50%;
    }

    .workList {
        column-gap: 3rem;
        padding-top: 3rem;
    }

    .workTitle {
        font-size: 2.5rem;
    }

    .workDetails {
        
    }

    .workDescription {
        font-size: 1.25rem;
        margin: 0.5rem 1rem;
        padding-bottom: 2rem;
        text-align: center;
    }

    .workTechList {
        padding-bottom: 2rem;
    }
    .workTechItem {
        font-size: 1rem;
    }

    .aboutDescWrapper {


    }
    .imgWrapper {
        margin-left: 2rem;
    }

    .aboutInfo {
      
        margin-right: 1rem;
    }

    .aboutListItem {
        font-size: 1.5rem;
    }

    .contactTag {
        font-size: 1.5rem;
        margin-left: 9rem;
    }

    .footerSocialList {
    width: 30%;
    }


}

@media (min-width: 1280px) {
    
    .decorSquare1 {
        height: 420vw;
    }


    .decorSquare2 {
        height: 80vw;
        left: 355px;
    }


}

@media (min-width: 1920px) {

    section {
        margin: 12rem 0;
    }

    .decorSquare1 {
        height: 365vw;
    }


    .decorSquare2 {
        width: 50vw;
        height: 100vw;
        left: 475px;
    } 

    .navLink {
        font-size: 2rem;
    }

    .navHomeName {
        font-size: 2.5rem;
    }

    .homeTitle {
        font-size: 1.5rem;
    }

    .heroName {
        top: 150px;
        left: 125px;
    }


    .heroName span{
        font-size: 10rem;
        
    }

    .abi {
        right: 40px;
   
        
    }
    .heroTitle {
        font-size: 4rem;
    }

    .heroDescription {
        font-size: 2rem;
    }

    .callToAction {
        font-size: 2rem;
    }

    h2 {
        font-size: 3rem;
    }


    .p {
        font-size: 2rem;
    }





    .aboutIll {
        left: 160px;
        margin-bottom: -150px;
    }

    .aboutDetails {
        width: 60%;
   
    
        
       
    }

    .aboutTitle {
        font-size: 5rem;

    }
    .aboutListItem {
        font-size: 2rem;
    }

    .aboutList {
        padding: 2rem 3rem;
    
    }

    .contactTag {
        font-size: 2rem;
    }

    .formDecor {
        width: 50%;
    }
    
.contactSection {
    margin-top: 12rem;
}


 
}
